---
layout: 'layouts/base.njk'
eleventyNavigation:
  key: Contact
  order: 6
---

<h1>Contact</h1>
<h2>Forecast</h2>
<script src="myFunctions.js"></script>

<form name="enquiry" netlify>
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" name="firstName" class="form-control" placeholder="First Name">
    </div><div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" name="lastName" class="form-control"  placeholder="Last Name">
    </div>
    <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="yourMessage" class="form-label">Your Message</label>
    <textarea class="form-control" name="yourMessage" rows="3"></textarea>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="tsandcs" name="tsandcs" required>
    <label class="form-check-label" for="tsandcs">
      Accept Ts and Cs
    </label>
  </div>
  <div>&nbsp;</div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>