---
layout: 'layouts/base.njk'
eleventyNavigation:
  key: Contact
  order: 6
---

<h1>Contact</h1>
<form name="enquiry" netlify>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">First Name</label>
        <input type="text" name="firstName" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
    </div><div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Last Name</label>
        <input type="text" name="lastName" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>